<div class="mobile-menu-container" id="mobile_menu_container">
    <button class="mobile-menu-close-btn" id="mobile_menu_close_btn">
        <i class="fas fa-times"></i>
    </button>
    <nav class="mobile-nav">
        <ul class="mobile-menu">
            {{ render(controller('App\\Controller\\Main\\EmbedController::showCategories')) }}
        </ul>
    </nav>
</div>
